body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.HeaderDiv{
    height: 200px;
    width: 100%;

}

.logo{
    height: 150px;
    margin: 25px;
}

.button1{
    height: 65px;
    width: 150px;
    border-radius: 50px;
    outline: none;
    border: black solid 3px;
    float: right;
    margin: 60px;
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 8px;
    transition: 0.5s ease;
    color: black;
    }

.button1:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.Href{
    margin: 0px;
}

.header1{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 40px;
    padding: 0px;
    animation: TextOnLoad ease 1.8s;
}

@keyframes TextOnLoad {
    0% {
      letter-spacing: -4px;
    }
    100% {

    }
  }

.header2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
    animation: TextOnLoad ease 1.8s;
}

.FormDiv{
    text-align: center;
}

.inputs{
    width: 300px;
    height: 40px;
    border: solid 3px rgb(39, 39, 39);
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    transition: 0.5s ease;
}

.button{
    width: 300px;
    height: 50px;
    border: solid 3px rgb(39, 39, 39);
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    transition: 0.5s ease;
    background-color: white;
    color: rgb(39, 39, 39);
}

.inputs:focus{
    border: solid 10px rgb(145, 145, 145);
    outline: none;
}

.button:hover{
    color: white;
    background-color: rgb(39, 39, 39);
}

@media only screen and (max-width: 473px) {

    .HeaderDiv{
        height: 400px;
        width: 100%;
        display: block;
        text-align: center;

    }

    .logo{
        height: 150px;
        margin: 25px;

    }

    .button1{
        float: none;
        margin: 100px;
    }

    .header1{
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-size: 40px;
        padding: 0px;
        letter-spacing: 5px;
    }

    @keyframes TextOnLoad {
        0% {
          letter-spacing: 5px;
        }
        100% {
    
        }
      }
}
