@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
background: 0F1621;
background: linear-gradient(0deg, #202d41 0%, rgba(70, 82, 114, 1) 100%);
}

.navBar{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.26);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.HamburgerMenuOff{
    display: none;
}

.HamburgerMenuOn{
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.26);
    height: 120px;
    opacity: 0;
    animation: show 0.1s ease forwards;
    position: fixed;
    width: 100%;

        -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-top: #ffffff85 2px solid;
    padding-top: 10px;
    z-index: 10;
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

.logoHeader{
    color: white;
    font-family: "Azeret Mono", monospace;
    margin-left: 25px;
}

.navButtonList{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: 25px;
}

.hamburgerButton{
    display: none;
}

.listItemMain{
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: bold;
}

.listItem{
    padding-bottom: 15px;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: bold;
}

.heroSection{
display: flex;
 justify-content: center;
 height: calc(100vh - 100px - 70px);
}

.contactHeader{
    font-family: "Inter", sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: calc(25vh - 100px);
    padding-bottom: 50px;
}

.contactInfoHeader{
    font-family: "Inter", sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

.mark{
    color: #7470e379;
}

.copyrightText{
    text-align: center;
color: white;
font-size: 15px;
font-family: "DM Mono", monospace;
margin-bottom: 50px;
}

.a{
    color: white;
    text-decoration: none;
    transition: ease 0.4s;
}

.a:hover{
    color: rgb(159, 174, 255);
}

.a2{
    color: #7470e379;
    transition: ease 0.4s;
}

.contactCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 30px;
}

.contactContainer{
    width: 60%;
    height: 150px;
    border: #b9b9b90a 2px solid;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button{
    border: #b9b9b90a 2px solid;
    border-radius: 10px;
    height: 50px;
    width: 60%;
    margin-top: 20px;
    background-color: #202d4100;
    color: white;
    font-family: "DM Mono", monospace;
    font-size: 20px;
}

@media (max-width: 1200px) {

.contactInfoHeader{
    font-size: 3vw;
}

}

@media (max-width: 1000px) {
    .contactHeader{
    font-family: "Inter", sans-serif;
    font-size: 6vw;
    color: white;
    text-align: center;
    margin-top: calc(25vh - 100px);
    padding-bottom: 50px;
}

.contactInfoHeader{
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    color: white;
    text-align: center;
}
}

@media (max-width: 500px) {

.hamburgerButton{
display: block;
}

.listItemMain{
    display: none;
}

.contactContainer{
    width: 85%;
}

.contactInfoHeader{
    font-size: 4vw;
}
}