@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
background: 0F1621;
background: linear-gradient(0deg, #202d41 0%, rgba(70, 82, 114, 1) 100%);
/* TIJDELIJK!!!! */
}

.navBar{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.26);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.HamburgerMenuOff{
    display: none;
}

.HamburgerMenuOn{
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.26);
    height: 120px;
    opacity: 0;
    animation: show 0.1s ease forwards;
    position: fixed;
    width: 100%;

        -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-top: #ffffff85 2px solid;
    padding-top: 10px;
    z-index: 10;
}
@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

.logoHeader{
    color: white;
    font-family: "Azeret Mono", monospace;
    margin-left: 25px;
}

.navButtonList{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: 25px;
}

.hamburgerButton{
    display: none;
}

.listItemMain{
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: bold;
}

.listItem{
    padding-bottom: 15px;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: bold;
}

.a{
    color: white;
    text-decoration: none;
    transition: ease 0.4s;
}

.a:hover{
    color: rgb(159, 174, 255);
}

.projectsHeader{
    font-family: "Inter", sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

.projectsIntro{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: rgba(255,255,255,0.9);
    text-align: center;
    max-width: 900px;
    margin: 0 auto 40px auto;
    line-height: 1.6;
    padding: 0 15px;
}

.projectContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.projects{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projectCard{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: #b9b9b90a 2px solid;
    border-radius: 10px; 
    padding: 20px; 
    transition: 0.5s ease;  
}

.projectCard:hover{
    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.548);
}

.projectImg{
    width: 80%;
    border-radius: 15px;
    
}

.cardHeader{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    color: white;
}

.cardParagraph{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: white;
}

.a2{
    text-decoration: none;
    width: 45%;
    margin: 0px;
    padding: 0px;
}

.copyrightText{
    text-align: center;
color: white;
font-size: 15px;
font-family: "DM Mono", monospace;
margin-bottom: 50px;
}

@media (max-width: 1000px) {
.projects{
    width: 80%;
    display: block;
}

.projectCard{
    width: calc(100% - 40px);
    height: 450px;
    border: #b9b9b90a 2px solid;
    border-radius: 10px; 
    padding: 20px; 
    transition: 0.5s ease;
    margin-bottom: 50px;
}

.projectContainer{
    margin-bottom: 0px;
}

}

@media (max-width: 700px) {

.hamburgerButton{
display: block;
}

.listItemMain{
    display: none;
}

}

@media (max-width: 500px) {
    .projectCard{
        text-align: center;
        height: 350px;
    }

    .cardParagraph{
            font-size: 18px;
    }

    .cardHeader{
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .cardParagraph{
            font-size: 15px;
    }
}

@media (max-width: 295px) {

    .projectCard{
        text-align: center;
        height: 250px;
    }

    .cardParagraph{
            font-size: 10px;
    }
}