@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
background: 0F1621;
background: linear-gradient(0deg, #0F1621 0%, rgba(70, 82, 114, 1) 100%);
}

.HamburgerMenuOn{
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.26);
    height: 120px;
    opacity: 0;
    animation: show 0.1s ease forwards;
    position: fixed;
    width: 100%;
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

.HamburgerMenuOff{
    display: none;
}

.navBar{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logoHeader{
    color: white;
    font-family: "Azeret Mono", monospace;
    margin-left: 25px;
}

.navButtonList{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    margin-left: auto;
    margin-right: 25px;
}

.listItemMain{
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: bold;
}

.listItem{
    padding-bottom: 15px;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: bold;
}

.hamburgerButton{
    display: none;
}

.heroSection{
display: flex;
 justify-content: center;
 height: calc(100vh - 100px);
}

.mark{
color: #7470E3;
transition: 0.4s ease;
}

.mark:hover{
text-shadow: #7470e379 0px 0px 10px;
}

.heroHeader{
    font-family: "Inter", sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    transition: 0.5s ease;
}

.center{
    width: 80%;
}

#hh1{
    opacity: 5%;
}

#hh2{
    opacity: 10%;
}

#hh3{
    opacity: 25%;
}

#hh4{
    opacity: 40%;
}

.heroParagraph{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.aboutMeSection{
display: flex;
justify-content: center;
}

.aboutMeHeader{
    font-family: "Inter", sans-serif;
    font-size: 60px;
    color: white;
    text-align: left;
    text-decoration: underline #7470E3;
}

.aboutMeParagraph{
    margin-top: 30px;
    color: white;
    font-size: 30px;
    font-family: "Inter", sans-serif;
}

.markRed{
    font-weight: bolder;
    color: #FF9E9E;
    text-decoration: underline;
}

.cardHolder{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 48%;
    border: #b9b9b90a 2px solid;
    border-radius: 25px;
    height: 250px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.05);
}

.cardHeader{
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-size: 80px;
  color: white;
  margin: 25px;
}

.cardParagrapher{
    color: #FFFFFF;
    opacity: 50%;
    font-family: "DM Mono", monospace;
    margin-left: 25px;
    margin-bottom: 40px;
}

.contactBox{
    width: 100%;
    border: #b9b9b90a 2px solid;
    border-radius: 25px;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}

.contactHeader{
font-family: "DM Mono", monospace;
  font-weight: 500;
  font-size: 40px;
  color: white;
  margin: 25px;
}

.contactParagraph{
    font-family: "DM Mono", monospace;
    font-size: 20px;
    color: white;
    margin-left: 25px;
}

.contactButton{
    width: 250px;
    border: #b9b9b90a 2px solid;
    border-radius: 10px;
    height: 100px;
    align-self: center;
    margin-left: auto;
    margin-right: 25px;
    background-color: #0f162100;
    color: white;

    font-family: "DM Mono", monospace;
    font-size: 30px;
    font-weight: bold;
    transition: 0.7s ease;
}

.contactButton:hover{
    transform: perspective(300px) rotateY(-15deg);
}

.copyrightText{
text-align: center;
color: white;
font-size: 15px;
font-family: "DM Mono", monospace;
margin-bottom: 50px;
}

.a{
    color: white;
    text-decoration: none;
}

@media (max-width: 900px) {

.heroHeader{
font-size: 40px;
padding-bottom: 5px;
padding-top: 5px;
}

.heroParagraph{
    font-size: 20px;
}

.cardHolder{
display: block;
}

.card{
width: 100%;
margin-bottom: 25px;
}

.contactBox{
    height: 170px;
}
}

@media (max-width: 750px) {
.contactBox{
    display: block;
    height: 250px;
    text-align: center;
}

.contactButton{
    height: 70px;
    margin-top: 10px;
    margin-right: 0px;
}

.contactParagraph{
    margin-left: 0px;
}

.aboutMeParagraph{
    font-size: 20px;
}
}

@media (max-width: 500px) {

.heroHeader{
font-size: 20px;
padding-bottom: 15px;
padding-top: 15px;
}



.hamburgerButton{
display: block;
}

.listItemMain{
    display: none;
}

}

@media (max-width: 500px) {

.contactBox{
    height: 300px;
}

.card{
    height: 300px;
}
}